*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body,html{
  min-height: 100%;
  font-family: sans-serif;
  background-color: black;
  color:white;
}

/* NAVIGATION  */
.header{
    display:flex;
    background-color:brown;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.navbar{
    list-style:none;
    display:flex;
    color:#fff;
    border:1px solid green;

}
.nav-item{
    border:1px solid pink;
    padding:10px 20px;;
    font-size:1.1rem;
}
.nav-link{
    text-decoration: none;
    color:rgb(243, 241, 241);
}
/* END OF NAVIGATION */
/* LOGIN FORM */
.container{
    width:80wv;
    min-height:100vh;
    display:grid;
    grid-gap:10px;
    margin:auto;
    background-color:#fff;
}
.login-container{
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(165, 165, 167);
    padding:auto 10%;
    width:50vw;
}
.login-form{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    border-radius:5px;
    padding:30px 20px;
    width:350px;
    background-color:#fff;
    height:350px;
    justify-content: center;
    color:rgb(150, 147, 147);
}
.form-group{
    align-self: center;
    margin-bottom: 10px;
    width:100%;
}
.form-control{
 padding:5px 10px;
 width:100%;
 line-height: 10px;
 font-size:1rem; 
 border:1px solid gray;
 border-radius:2px;
}
.login-button{
 padding:5px 10px;
 margin-bottom: 10px;
 width:30%;
 align-self: center;
}
label{
    font-weight: normal;
    color:blue;
}
.response{
    font-size:1.1rem;
    margin-bottom:20px;
}
.error{
    color:red;
}
.login-button{
    background: linear-gradient(rgb(4, 109, 247),#0c0a92);
    border:none;
    border-radius:5px;
    padding:10px 15px;
    color:#fff;
    font-weight: bold;
    cursor:pointer;
}
